PORT=5000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5434
DB_NAME=urban_farming
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:3000